<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
 
                
                    <h1 class="text-center">Update Password </h1>

                <form (ngSubmit)="onSubmit(form)" #form="ngForm" >
                    <mat-form-field class="full-width">
                        <mat-label>Old Password</mat-label>
                        <input
                        [(ngModel)]="credentials.old_password"
                        required
                        name="old_password" 
                        type="text" 
                        readonly=""
                        matInput>
                    </mat-form-field>
   
                    <mat-form-field class="full-width">
                    <mat-label>New Password</mat-label>
                        <input
                        [(ngModel)]="credentials.new_password"
                        required
                        name="new_password" 
                        type="text" 
                        matInput>
                    </mat-form-field>
                       

                    <mat-form-field class="full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input
                        [(ngModel)]="credentials.confirm_password"
                        required
                        name="confirm_password" 
                        type="text" 
                        matInput>
                    </mat-form-field>
             

                    <div class="container text-cen">
                        <button type="submit" mat-raised-button color="primary">
                            Update Password
                        </button>
                       
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>